  <!--見出し-->
  <div class ="row justify-content-center py-3">
    <h3><i class="fas fa-flask"></i>MY PAGE</h3>
  </div>

  <!-- ユーザーの詳細 -->
  <div class ="row justify-content-center my-5">
    <div class ="col-5 text-center">
      <h3>ようこそ、<%= @customer.name %>さん</h3>
      <p class ="my-5"><%= image_tag @customer.get_profile_image, class: "profile_image", size: "300x300" %></p>
      <% if current_customer.email != 'guest@email.com'%>
      <p><%= link_to "EDIT", edit_customer_path,class: "btn btn-original w-btn" %></p>
      <% end %>
      <p><%=link_to"BOOKMARK",favorites_customer_path(@customer),class: "btn btn-original w-btn" %></p>
    </div>

    <!-- ユーザーの投稿一覧 -->
    <div class ="col-3 align-items-center">
      <h5 class ="text-center">投稿記事一覧</h5>
      <table class = "table table-bordered">
        <thead class = "text-center">
          <th>タイトル</th>
          <th>詳細へ</th>
        </thead>
        <% @articles.each do |article| %>
        <tbody>
          <td><%= article.title %></td>
          <td class="text-center"><%= link_to "詳細へ", article_path(article.id),class: "btn btn-original" %></td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
