<h1>article show</h1>

<%= image_tag @article.image, size: "100x100" %>

<h2>タイトル</h2>
<p><%= @article.title %></p>

<h2>本文</h2>
<p><%= @article.body %></p>

  <%= link_to "削除", article_path(@article.id), method: :delete %>

<div>
  <p>コメント件数：<%= @article.comments.count %></p>
  <% @article.comments.each do |comment| %>
    <p><%= comment.customer.name %></p>
    <p><%= comment.created_at.strftime('%Y/%m/%d') %></p>
    <p><%= comment.comment_body %></p>
      <%= link_to "削除", admin_article_comment_path(comment.article, comment), method: :delete %>
  <% end %>
</div>