<!--ログイン中のトップページ-->
  <% if customer_signed_in? %>
    <!--画像-->
    <div class="justify-content-center p-2">
      <div class ="text-center p-3">
        <%= image_tag "p_header.png", width: '100%' %>
      </div>
    </div>
    <!--見出し-->
    <h4><i class="fas fa-leaf"></i>New Posts</h4>
    <!--新規投稿記事-->
    <div class ="row justify-content-center">
      <% @articles.first(3).each do |article| %>
       <div class="col-md-3 mx-3">
          <div class="card">
            <h8 class="card-header"><%= article.title %></h8>
            <p class="card-img-top p-2 px-4"><%= image_tag article.get_image,   width: '120px', class: 'card-img-top'%></p>
            <p class="text-center"><%= link_to "Show more", article_path(article.id),class: "btn btn-original" %></p>
            <p class="text-muted"><i class="fas fa-pen-nib"></i><%= article.customer.name %></p>
            <p class="text-muted"><i class="fas fa-clock"></i><%= article.created_at.strftime('%Y/%m/%d') %></p>
          </div>
        </div>
      <% end %>
    </div>

    <!--ログアウト中のトップページ-->
    <% else %>
      <div class="justify-content-center p-2">
        <div class ="text-center p-3">
          <%= image_tag "p_header.png", width: '100%' %>
        </div>
      </div>
    <% end %>