  <!--見出し-->
  <div class ="text-center p-3">
    <h3><i class="fas fa-leaf"></i>ARTICLE</h3>
  </div>

  <!--検索バー-->
  <div class ="text-right">
    <div class="search_form">
      <%= form_with url: search_path, local: true, method: :get do |f| %>
        <i class="fas fa-search mx-2"></i>
        <%= f.text_field :word, value: params[:word] %>
        <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
        <%= f.submit "検索", class: "btn btn-original m-2" %>
      <% end %>
    </div>

    <%= form_with url: articles_path, local: true, method: :get do |f| %>
      <i class="fas fa-tags"></i>
      <%= f.select(:tag_name, Tag.pluck(:name), selected: params[:tag_name]) %>
      <%= f.submit "検索", class: "btn btn-original m-2" %>
    <% end %>
  </div>

  <!--新規記事投稿-->
  <div class ="row justify-content-center py-1">
    <%= link_to new_article_path, class: "btn btn-original", method: :get do %>
    <i class="fas fa-edit"></i>NEW ARTICLE<% end %>
  </div>

  <!--記事一覧-->
  <div class ="row justify-content-center p-5">
  <% @articles.each do |article| %>
    <div class="col-md-4">
      <div class="card m-3">
        <h8 class="card-header"><%= article.title %>
        <% if article.comments.blank? %>
          <% elsif article.comments.average(:score) > 0 %>
            <i class="fas fa-smile mt-2 text-success"></i>
              <% else %>
        <%end%>
        </h8>
        <p class="card-img-top p-2 px-4"><%= image_tag article.get_image,  width: '120px', class: 'card-img-top'%></p>
        <p class="text-center"><%= link_to "show more", article_path(article.id),class: "btn btn-original" %></p>
        <p class="text-muted px-1"><i class="fas fa-pen-nib"></i><%= article.customer.name %></p>
        <p class="text-muted px-1"><i class="fas fa-clock"></i><%= article.created_at.strftime('%Y/%m/%d') %></p>
        <p class="text-muted px-1"><i class="fas fa-tags"></i><%= article.tag.name %></p>
      </div>
    </div>
  <% end %>
  </div>
  <div class ="row justify-content-center p-5">
  <%= paginate @articles %>
  </div>