<div class ="container">

  <!--見出し-->
  <div class ="row justify-content-center py-1">
    <h3><i class="fas fa-newspaper"></i>ARTICLE</h3>
  </div>

  <!--サイドバー-->
  <%= render 'sidebar', sidebar: @sidebar %>

<%= form_with model: @article do |f| %>
  <h4>画像</h4>
    <%= f.file_field :image, accept: "image/*" %>
  <h4>タイトル</h4>
    <%= f.text_field :title %>
  <h4>本文</h4>
  <%= f.text_area :body %></br>
  <%= f.submit '投稿' %>
  <% end %>
</div>