<div class ="col-md-10 text-center">
  <!--見出し-->
    <h3 class ="text-center mt-3 mb-3"><i class="fas fa-newspaper"></i>ARTICLE</h3>

  <%= form_with model: @article do |f| %>
    <p>画像</p>
    <p><%= f.file_field :image,class: "btn btn-original", accept: "image/*" %></p>
    <p>タイトル</p>
    <p><%= f.text_field :title %></p>
    <p>本文</p>
    <p><%= f.text_area :body %></p>
    <p><%= f.submit '投稿',class: "btn btn-original" %></p>
  <% end %>

</div>