<!--見出し-->
<div class ="row  justify-content-center ">
  <h3 class="text-center mt-3 mb-3"><i class="fas fa-leaf"></i>ARTICLE</h3>
</div>
<!--タイトル-->
<div class ="row justify-content-center">
  <h3 class="text-center">
    <%= @article.title %></h3>
</div>
<!--ブックマーク-->
<div class ="row justify-content-center m-2">
  <div class="favorite-btn"><%= render "public/favorites/favorite-btn", article: @article %></div>
</div>

<!--エラーメッセージ-->
<% if @comment.errors.any? %>
  <%= @comment.errors.count %>件のエラーが発生しました
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <div class ="row justify-content-center">
  <div class ="col-md-5 m-2 ">
    <%= image_tag @article.get_image, class: "article-image"%>
  </div>
  <div class ="col-md-5 m-2">
    <p><%=simple_format(@article.body)%></p>
  </div>
</div>

  <!--編集・削除ボタン-->
  <div class ="row justify-content-center py-2">
  <% if @article.customer == current_customer %>
    <%= link_to "EDIT", edit_article_path(@article.id), class: "btn btn-sm btn-original my-2 mx-2" %>
    <%= link_to "DELETE", article_path(@article.id), class: "btn btn-sm btn-danger my-2 mx-2", method: :delete %>
  <% end %>
  </div>

  <!--コメント一覧-->
  <div class = "comments"><%= render "public/comments/index", article: @article %></div>
  <!--コメントフォーム-->
  <%= render "public/comments/comment-form", article: @article, comment: @comment %>

</div>