<!--ログイン中のヘッダー-->
<% if customer_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Fragrance LAB.</a>
      <li class="nav-item">
        <%= link_to "TOP", root_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
      </li>

      <li class="nav-item">
        <%= link_to "ABOUT", about_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
      </li>

      <li class="nav-item">
        <%= link_to "ARTICLE", articles_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
      </li>

      <li class="nav-item">
        <%= link_to "MYPAGE", customer_path(current_customer.id), class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
      </li>

      <li class="nav-item">
        <%= link_to "LOG OUT", destroy_customer_session_path, method: :delete, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
      </li>
  </nav>

<!--管理者ログイン中のヘッダー-->
<% elsif admin_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Fragrance LAB.</a>
      <li class="nav-item">
        <%= link_to "TOP", admin_customers_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
      </li>

      <li class="nav-item">
        <%= link_to "ARTICLE", admin_articles_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
      </li>

      <li class="nav-item">
        <%= link_to "LOG OUT",  destroy_admin_session_path, method: :delete, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
      </li>
  </nav>

<!--ログアウト中のヘッダー-->
<% else %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href= "/" >Fragrance LAB.</a>

      <li class="nav-item">
        <%= link_to "TOP", root_path, class: ' nav-link btn btn-light btn-sm mr-2' %>
      </li>

      <li class="nav-item">
        <%= link_to "ABOUT", about_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
      </li>

      <li class="nav-item">
        <%= link_to "SIGN UP", new_customer_registration_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
      </li>

      <li class="nav-item">
        <%= link_to "LOG IN", new_customer_session_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
      </li>

     <li class="nav-item">
       <%= link_to "ADMIN LOG IN", new_admin_session_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
     </li>
  </nav>

<% end %>