<!DOCTYPE html>
<html>
  <head>
    <title>FragranceLab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <%= message %>
    <% end %>
    <header>
      <nav class="navbar navbar-expand-lg bg-original justify-content-end">
        <a class="navbar-brand text-light" href="/">Fragrance LAB.</a>
      </nav>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 bg-original">
          <%= render 'layouts/sidebar'%>
        </div>
        <div class="col-md-10 mb-5">
          
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
    <footer class="footerr mt-auto bg-original fixed-bottom">
	  <p class="text-center text-light pt-2 ">©Infratop.</p>
</footer>
</html>
