<!DOCTYPE html>
<html>
  <head>
    <title>FragranceLab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
      <%= render 'layouts/header' %>
      </header>
    <%= yield %>
  </body>
  <footer class="footerr mt-auto py-3 bg-body-tertiary">
	<div class="container text-center fixed-bottom">
	  <p class="text-muted">©Infratop.</p>
	</div>
</footer>
</html>
