<!DOCTYPE html>
<html>
  <head>
    <title>FragranceLab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <nav class="navbar navbar-expand-lg bg-brown justify-content-end">
          <a class="navbar-brand text-light" href="/">Fragrance LAB.</a>
        </nav>
      </header>
      <%= render 'layouts/sidebar'%>
    <%= yield %>
  </body>
  <footer class="footerr mt-auto bg-brown fixed-bottom">
	  <p class="text-center text-light pt-2 ">©Infratop.</p>
</footer>
</html>
